[run]

branch = True

source =
    spiel/
    tests/

[report]

skip_empty = True
show_missing = True
sort = -cover

exclude_lines =
    def __repr__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if False:
    if __name__ == .__main__.:
    assert False

    pragma: unreachable
    pragma: debugging
    pragma: never runs
