[run]

branch = True

source =
    spiel/
    tests/

[report]

exclude_lines =
    def __repr__
    if self\.debug

    raise AssertionError
    raise NotImplementedError

    if 0:
    if False:
    if __name__ == .__main__.:
